
#red{
  position: absolute;
  margin-top: 700px;
  margin-left: 700px;
width: 50px;
height: 50px;
background-color: red;
}


#blue{
  position: absolute;
  margin-top: 700px;
  margin-left: 780px;
  width: 50px;
height: 50px;
background-color: blue;
}

#yellow{
  position: absolute;
  margin-top: 700px;
  margin-left: 860px;
  width: 50px;
height: 50px;
background-color: yellow;
}

#green{
  position: absolute;
  margin-top: 700px;
  margin-left: 940px;
  width: 50px;
height: 50px;
background-color: green;
}



#red:hover{
  position: absolute;
  margin-top: 700px;
  margin-left: 700px;
transform: scale(1.2);
background-color: red;
}


#blue:hover{
  position: absolute;
  margin-top: 700px;
  margin-left: 780px;
  transform: scale(1.2);
background-color: blue;
}

#yellow:hover{
  position: absolute;
  margin-top: 700px;
  margin-left: 860px;
  transform: scale(1.2);
background-color: yellow;
}

#green:hover{
  position: absolute;
  margin-top: 700px;
  margin-left: 940px;
  
transform: scale(1.2);
background-color: green;
}


#red:active{
  position: absolute;
  margin-top: 700px;
  margin-left: 700px;
transform: scale(1.1);
background-color: red;
}


#blue:active{
  position: absolute;
  margin-top: 700px;
  margin-left: 780px;
  transform: scale(1.1);
background-color: blue;
}

#yellow:active{
  position: absolute;
  margin-top: 700px;
  margin-left: 860px;
  transform: scale(1.1);
background-color: yellow;
}

#green:active{
  position: absolute;
  margin-top: 700px;
  margin-left: 940px;
  
transform: scale(1.1);
background-color: green;
}

#guess{
  position: absolute;
  margin-top: 300px;
  margin-left: 700px;
  width: 290px;
height: 290px;
background-color: black;
}

#casovac{
  position: absolute;
  margin-top: 200px;
  margin-left: 710px;
  
font-size: 60px;
font-family: Comic Sans MS;
}

#skore{
  position: absolute;
  margin-top: 100px;
  margin-left: 710px;
  
font-size: 60px;
font-family: Comic Sans MS;
}


#start{
  position: absolute;
  margin-top: 300px;
  margin-left: 1500px;
  width: 100px;
height: 100px;
background-color: limegreen;
font-size: 20px;
font-family: Comic Sans MS;
}

#start:hover{
  position: absolute;
  margin-top: 300px;
  margin-left: 1500px;
  transform: scale(1.2);
background-color: limegreen;
font-size: 20px;
font-family: Comic Sans MS;
}

#start:active{
  position: absolute;
  margin-top: 300px;
  margin-left: 1500px;
  transform: scale(1.1);
background-color: limegreen;
font-size: 20px;
font-family: Comic Sans MS;
}

#reset{
  position: absolute;
  margin-top: 500px;
  margin-left: 1500px;
  width: 100px;
height: 100px;
background-color: red;
font-size: 20px;
font-family: Comic Sans MS;
}

#reset:hover{
  position: absolute;
  margin-top: 500px;
  margin-left: 1500px;
  transform: scale(1.2);
background-color: red;
font-size: 20px;
font-family: Comic Sans MS;
}

#reset:active{
  position: absolute;
  margin-top: 500px;
  margin-left: 1500px;
  transform: scale(1.1);
background-color: red;
font-size: 20px;
font-family: Comic Sans MS;
}
